:root {
	font-family: 'MinSans-Regular', 'Pretendard-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff'),
		(
				'https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff'
			)
			format('woff');
	font-weight: normal;
	font-style: normal;
	font-style: normal;
	color-scheme: light dark;
}

body {
	margin: 0;
}
